	#windownbg{display:none;position:absolute;width:100%;height:100%;background:#000;top:0;left:0;}
	#windown-box{position:fixed;_position:absolute;border:5px solid #E9F3FD;background:#FFF;text-align:left;}
	#windown-content-border{position:relative;top:-1px;border:1px solid #A6C9E1;padding:5px 0 5px 5px;}


	.ui-mask{background-color:#000;opacity:0.5;filter:alpha(opacity=50);width:100%;height:100%;position:fixed;_position:absolute;left:0;top:0;z-index:9999998;display:none;}
	.change_success,.change_error{
	display:block;
	height:50px;
	line-height:50px;
	background:#fff;
	border:5px solid #e6e6e6;
	font-size:14px;
	border-radius:5px;
	font-weight:400;
	padding:0 15px;
	position: absolute;
	_position: absolute;
	left:0;
	top:0;
	z-index:9999999;
}
.change_success{color:#000;}
.change_error{color:#333;}
.change_success i{
	float:left;
	display:block;
	width:30px;
	height:30px;
	margin-top:10px;
	margin-right:10px;
	background:url("/images/common/new_ico.png") no-repeat 0 0;
}
.change_success .send_close, .change_error .send_close{
	position:absolute;
	width:34px;
	height:34px;
	background:url("/images/common/send_close.gif") no-repeat;
	right:-10px;
	top:-15px;
	cursor: pointer;
}
.change_error i{
	float:left;
	display:block;
	width:30px;
	height:30px;
	margin-top:10px;
	margin-right:10px;
	background:url("/images/common/new_ico.png") no-repeat -30px 0;
}


/**弹框**/
.alert{
	display:block;
	height:auto;
	background:#fff;
	border:5px solid #e6e6e6;
	font-size:14px;
	border-radius:5px;
	font-family: "Microsoft YaHei";
	/*font-weight: bold;*/
	padding:10px 35px;
	position: absolute;
	_position: absolute;
	left:0;
	top:0;
	color:#666;
	z-index:9999999;
}
.alert img{vertical-align:middle;margin-right:10px;}
.alert .tips{display:block;height:45px;line-height:30px;text-align:center;color:#333;}
.alert .confirm,.alert .cancel{display:block;margin:0 40px;width:50px;height:30px;line-height:30px;text-align:center;border-radius:4px;cursor:pointer;}
.alert .confirm{
	float:left;
	background:#6dbfbb;
	color:#fff;
}
.alert .cancel{
	float:right;
	background:#e8e8e8;
	color:#999;
}
.alert .cancel:hover{color:#6dbfbb;}

