<!-- 下个版本将废弃掉 -->
<div class="ibox-header-style-1">
	<%if (options) {%>
		<%for (var i = 0; i < options.length; i++) {%>
			<button class="fa btn btn-xs <%=options[i].icon%> <%=options[i].opt%>" type="button"><%=options[i].name%></button>
		<%}%>
	<%}%>
</div>
<div class="images-max-content ">
   	<div class="main_visual" id="lunbo-container-<%=targetId%>">
    	<div class="flicking_con">
           <%if (items) {%>
               <%for (var i = 0; i < items.length; i++) {%>
               	<a href="javascript:void(0);"><%=(i + 1)%></a>
               <% } %>
            <% } %>
        </div>
        <div class="main_image" id="lunbo-<%=targetId%>">
            <ul>
            	<%if (items) {%>
            		<%for (var i = 0; i < items.length; i++) {%>
            			<li>
            				<a href="<% if (items[i].link) { %> <%=items[i].link%> <%} else {%>javascript:; <%}%>" target="_blank"><span <%if (items[i].imageUrl) {%>style="background-image: url(<%=items[i].imageUrl%>)"<%} else {%>style="background-color: rgb(170, 48, 75)"<%}%>></span></a>
            			</li>
          			<% } %>
       			<% } %>
            </ul>
            <a href="javascript:;" class="btn_prev"></a>
            <a href="javascript:;" class="btn_next"></a>
        </div>
    </div>
</div>
