<div class="ibox-header-style-1">
	<%if (options) {%>
		<%for (var i = 0; i < options.length; i++) {%>
			<button class="fa btn btn-xs <%=options[i].icon%> <%=options[i].opt%>" type="button"><%=options[i].name%></button>
		<%}%>
	<%}%>
</div>
<div class="images-max-content ">
   	<div class="lunbo">
		  <div class="bd">
				<ul>
				  	<%if (items) {%>
	            		<%for (var i = 0; i < items.length; i++) {%>
	            			<li style="background:#B8CED1 center 0 no-repeat; <%if (items[i].imageUrl) {%>background-image: url(<%=items[i].imageUrl%>)<%}%>">
	            				<a <% if (items[i].link) { %> href="<%=items[i].link%>" <%}%> target="_blank"></a>
	            			</li>
	          			<% } %>
	       			<% } %>
				</ul>
		  </div>
		  <div class="hd">
			<ul></ul>
		  </div>
	</div>
</div>
