<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vinux.service.dao.design.DesignPageDataMapper" >
  <resultMap id="BaseResultMap" type="vinux.service.entity.design.DesignPageData" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PAGE_ID" property="pageId" jdbcType="BIGINT" />
    <result column="CDATE" property="cdate" jdbcType="TIMESTAMP" />
    <result column="_VERSION" property="version" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="vinux.service.entity.design.DesignPageData" extends="BaseResultMap" >
    <result column="DATA" property="data" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PAGE_ID, CDATE, _VERSION
  </sql>
  <sql id="Blob_Column_List" >
    DATA
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from VINUX_DESIGN_PAGE_DATA
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from VINUX_DESIGN_PAGE_DATA
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="vinux.service.entity.design.DesignPageData" >
    insert into VINUX_DESIGN_PAGE_DATA (ID, PAGE_ID, CDATE, 
      _VERSION, DATA
      )
    values (#{id,jdbcType=BIGINT}, #{pageId,jdbcType=BIGINT}, #{cdate,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=BIGINT}, #{data,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="vinux.service.entity.design.DesignPageData" >
    insert into VINUX_DESIGN_PAGE_DATA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="pageId != null" >
        PAGE_ID,
      </if>
      <if test="cdate != null" >
        CDATE,
      </if>
      <if test="version != null" >
        _VERSION,
      </if>
      <if test="data != null" >
        DATA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pageId != null" >
        #{pageId,jdbcType=BIGINT},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
      <if test="data != null" >
        #{data,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="vinux.service.entity.design.DesignPageData" >
    update VINUX_DESIGN_PAGE_DATA
    <set >
      <if test="pageId != null" >
        PAGE_ID = #{pageId,jdbcType=BIGINT},
      </if>
      <if test="cdate != null" >
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        _VERSION = #{version,jdbcType=BIGINT},
      </if>
      <if test="data != null" >
        DATA = #{data,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="vinux.service.entity.design.DesignPageData" >
    update VINUX_DESIGN_PAGE_DATA
    set PAGE_ID = #{pageId,jdbcType=BIGINT},
      CDATE = #{cdate,jdbcType=TIMESTAMP},
      _VERSION = #{version,jdbcType=BIGINT},
      DATA = #{data,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="vinux.service.entity.design.DesignPageData" >
    update VINUX_DESIGN_PAGE_DATA
    set PAGE_ID = #{pageId,jdbcType=BIGINT},
      CDATE = #{cdate,jdbcType=TIMESTAMP},
      _VERSION = #{version,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 扩展的 -->
  <select id="getLatest" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
  	SELECT 
  	<include refid="Base_Column_List"></include>
  	,
    <include refid="Blob_Column_List" />
  	from VINUX_DESIGN_PAGE_DATA 
  	WHERE ID = (SELECT MAX(ID) from VINUX_DESIGN_PAGE_DATA WHERE PAGE_ID = #{pageId,jdbcType=BIGINT}) 
  </select>
  
  <select id="getEarliest" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	SELECT 
  	<include refid="Base_Column_List"></include>
  	from VINUX_DESIGN_PAGE_DATA 
  	WHERE ID = (SELECT MIN(ID) from VINUX_DESIGN_PAGE_DATA WHERE PAGE_ID = #{pageId,jdbcType=BIGINT}) 
  </select>
  
  <select id="count" resultType="java.lang.Long" parameterType="java.lang.Long">
  	select count(1) from VINUX_DESIGN_PAGE_DATA WHERE PAGE_ID = #{pageId,jdbcType=BIGINT}
  </select>
</mapper>