<div class="ibox-header">
    <%if (options) {%>
		<%for (var i = 0; i < options.length; i++) {%>
			<button class="fa btn btn-xs <%=options[i].icon%> <%=options[i].opt%>" type="button"><%=options[i].name%></button>
		<%}%>
	<%}%>
</div>
<div class="ibox-content" style="height: <%=style.height%>px">
	<div class="row" style="height: 100%">
		<div class="col-lg-6" style="height: 100%">
			<div class="ibox" style="height: 100%">
				<div class="ibox-content" style="height: 100%">
				</div>
			</div>
		</div>
		<div class="col-lg-6" style="height: 100%">
			<div class="ibox" style="height: 100%">
				<div class="ibox-content" style="height: 100%">
				</div>
			</div>
		</div>
	</div>
</div>