<td><input type="text" class="form-control edit" name="name" value="<%= name%>" maxlength="10"/></td>
<td>
	<input type="text" class="form-control edit" name="link" value="<%= link%>"/>
</td>
<td>
	<select class="form-control" name="openMode">
		<%if (openInAnotherWindow) {%>
			<option value="0" selected="selected">新窗口打开</option>
	  		<option value="1">当前窗口打开</option>
		<%} else {%>
			<option value="0">新窗口打开</option>
	 	 	<option value="1" selected="selected">当前窗口打开</option>
		<%}%>
	  
	</select>
</td>
<td>
	<input type="radio" name="active" <%if (active) {%> checked="checked" <%}%>/> 
</td>
<td>
	 <span class="btn btn-white btn-xs remove" type="button"><i class="fa fa-times"></i></span>
</td>